
<launch>
  <node name="cartographer_pbstream_to_ros_map" pkg="cartographer_ros"
      type="cartographer_pbstream_to_ros_map" args="
          -pbstream_filename $(arg pbstream_filename)
          -map_filestem $(arg map_filestem)
          -resolution $(arg resolution)"
      output="screen">
  </node>
</launch>

<!--执行指令-->
<!--节点位于pbstream_to_ros_map_main.cc-->
<!--roslaunch cartographer_ros offline_pbstream_to_rosmap.launch
pbstream_filename:=/home/cabin/Desktop/carto_map.pbstream
map_filestem:=/home/cabin/Desktop/ros_map resolution:=0.05-->

